<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='overwrite.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">

        <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

        <title>Fire Nation</title>
    </head>
<body>
  <nav class="navbar navbar-default navbar-top">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="/">MTA Train Tracker</a>
               </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" id="gps"><a class="nav-link" onclick="getLocation()">Nearest Stations</a></li>
                    <li class="page-scroll dropdown">
                        <a id="train" class="dropdown-toggle" type="button" data-toggle="dropdown">Trains
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/1/">1</a></li>
                          <li><a href="/2/">2</a></li>
                          <li><a href="/3/">3</a></li>
                          <li><a href="/4/">4</a></li>
                          <li><a href="/5/">5</a></li>
                          <li><a href="/6/">6</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
   </nav>

   <h3 style="text-align: center;">Nearest Stations</h3>
   <ul class="list-group train">
     {% for station in stops %}
     <li class="list-group-item station" id="{{ station[1]|replace(" ", "_") }}">
       <input type="hidden" value="{{ station[2] }}">
       <a class="dropdown-toggle" type="button" data-toggle="dropdown">{{ station[1] }}<span class="caret"></span>  <span class="badge" style="margin-left: 3%;">{{ station[0] }} miles away</span></a>
       <ul class="dropdown-menu list_stations">
         <div class="container-fluid box">
         <div class="col-lg-4">
           <li><b>Uptown Trains:</b></li>
         </div>
         <div class="col-lg-4">
           <li><b>Downtown Trains:</b></li>
         </div>
         </div>
         </div>
       </ul>
     </li>
     {% endfor %}
  </ul>
  <script src="{{ url_for('static', filename='gps_data.js') }}"></script>
  <script src="{{ url_for('static', filename='gps.js') }}"></script>
</body>
</html>
