
#nav{
    background-color: #87CEEB;
    min-height: 100px;
    vertical-align: middle;
    font-size: 400%;
}

#logo{ 
    font-weight: bold;
}




#collap{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-color: #8080ff;
}

#collaps{
    position: absolute;
    left: 65%;
    transform: translatex(-50%);
}

#but{
    float: right;
}

body{
    background-color: #00FF7F;
}




.jumbotron{
    width: 600px;
    min-height: 400px;
    float:left;
    padding: 150px;
}

#a{
    float: left;
}