<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/overwrite.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <title>Fire Nation</title>
    </head>
<body>
  <nav class="navbar navbar-default navbar-top">
            <div class="container-fluid">
	      <div class="navbar-header">
                    <a href="">MTA Train Tracker</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="">Trains
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </div>
</body>
</html>
