<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/overwrite.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">

        <script src="../static/bootstrap/js/jquery.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

        <title>Fire Nation</title>
    </head>
<body>
  <nav id = "nav" class="navbar navbar-default navbar-top">
            <div class="container-fluid">
	      <div class="navbar-header">
                    <a id = "logo" href="">MTA Train Tracker</a>
                </div>
                <div class="collapse navbar-collapse" id="collap">
                <ul class="nav navbar-nav">
                    <li class="page-scroll dropdown">
                        <a id="train" class="dropdown-toggle" type="button" data-toggle="dropdown" href="">Trains
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
                <div class="collapse navbar-collapse" id="collaps">
                <ul class="nav navbar-nav">
                    <li class="page-scroll dropdown">
                    <a id="station" class="dropdown-toggle" type="button" data-toggle="dropdown" href="">Stations
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">1</a></li>

                          <!--
                          {% for stat in station %}
		                 <li><a href="#">stat[0]</a></li>
	                  {% endfor %}
                          -->
                           
                        </ul>
                     </li>
                  </ul>
                </div>
             </div>  
             <nav id = "but" class="navbar navbar-light bg-faded">
                         <a class="navbar-brand" href="../templates/train.html">Check</a>
             </nav>
   </nav>
</body>
</html>
