<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/overwrite.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">

        <script src="../static/bootstrap/js/jquery.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

        <title>Fire Nation</title>
    </head>
<body>
  <nav class="navbar navbar-default navbar-top">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="/">MTA Train Tracker</a>
               </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll dropdown">
                        <a id="train" class="dropdown-toggle" type="button" data-toggle="dropdown">Trains
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/1/">1</a></li>
                          <li><a href="/2/">2</a></li>
                          <li><a href="/3/">3</a></li>
                          <li><a href="/4/">4</a></li>
                          <li><a href="/5/">5</a></li>
                          <li><a href="/6/">6</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
   </nav>

   <h2>Sample:</h2>
   <h3 style="text-align: center;"><img src="../static/1.png"></h3>
   <ul class="list-group train">
     <li class="list-group-item">
       <a class="dropdown-toggle station" type="button" data-toggle="dropdown" id="station">Station<span class="caret"></a></span>
       <ul class="dropdown-menu">
         <div class="container-fluid">
         <div class="row">
         <div class="col-sm-4">
           <li>Uptown Trains:</li>
           <li>1 train at 191 St <span class="label label-default">4 min</span></li>
         </div>
         <div class="col-sm-4">
           <li>Downtown Trains:</li>
           <li>1 train at Marble Hill - 225 St <span class="label label-default">4 mins</span></li>
         </div>
         </div>
         </div>
       </ul>
     </li>
   </ul>
   <script src="../static/data.js" async></script>
</body>
</html>
